<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.user.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.woniuxy.user.entity.User">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="avatar" property="avatar"/>
        <result column="tel" property="tel"/>
        <result column="reg_time" property="regTime"/>
        <result column="integration" property="integration"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account, password, avatar, tel, reg_time, integration
    </sql>

    <!-- 修改用户积分 -->
    <update id="updateIntegrationById">
        update ticket_user
        set integration = integration + #{chgVal,jdbcType=NUMERIC}
        where id = #{id,jdbcType=NUMERIC}
          and integration >= (-#{chgVal,jdbcType=NUMERIC})
    </update>


</mapper>
