<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.movie.mapper.MovieTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.woniuxy.movie.entity.MovieType">
        <id column="movieid" property="movieid"/>
        <result column="typeid" property="typeid"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        movieid, typeid
    </sql>

    <!-- 添加电影 -->
    <insert id="insertAll">
        insert into ticket_movie_type
        (movieid,typeid)
        values
        <foreach collection="list" item="movie_types" separator=",">
            (#{movie_types.movieid},#{movie_types.typeid})
        </foreach>
    </insert>

</mapper>
