<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.cinema.mapper.ScheduleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.woniuxy.cinema.entity.Schedule">
        <id column="id" property="id" />
        <result column="film_id" property="filmId" />
        <result column="hall_id" property="hallId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="price" property="price" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, film_id, hall_id, start_time, end_time, price, status
    </sql>

    <select id="selectSeatStatusById" resultMap="A">
        select row_no, col_no, ticket_schedule_seat.status as r_status
        from ticket_schedule_seat, ticket_seat
        where schedule_id = 1 and seat_id = ticket_seat.id
    </select>
    <resultMap id="A" type="com.woniuxy.cinema.entity.dto.ScheduleSeatStatusDto">
        <result column="row_no" property="rowNo" />
        <result column="col_no" property="colNo" />
        <result column="r_status" property="status" />
    </resultMap>



</mapper>
